.landing-page {
  background: linear-gradient(360deg, #2c3e50, #bdc3c7);
  text-align: center;
}

.landing-page-body,
.landing-page-socials,
.landing-page-blogs,
.landing-page-footer {
  padding-bottom: 1rem;
}

.landing-page-socials {
  font-size: var(--font-size-4xl);
  color: var(--color-white);
  font-family: var(--font-poppins);
}

.landing-page-body {
  font-size: 250%;
}

.landing-page-blogs {
  display: flex;
  justify-content: center;
  align-items: center;
}
