@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;800&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-4xl: 23px;

  /* Colors */
  --color-black: #000;
  --color-white: #fff;
}
